# Lito - Case

<img align="left" width="80" height="200" src="https://img.shields.io/badge/python-v3.6-blue.svg">
<br>

## Table of contents

1. [Introduction](#Introduction)
2. [Problem Statement](#Problem-Statement)
3. [Import-Data](#Import-Data)
4. [Data Cleaning](#Data--Cleaning)
5. [Data Exploration](#Data-Exploration)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bokeh.plotting import figure
from bokeh.io import show, output_notebook
import seaborn as sns
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score
import itertools
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
%matplotlib inline
sns.set(color_codes=True)
%autosave 30
import warnings
import math
plt.style.use('seaborn')
warnings.filterwarnings("ignore")
%matplotlib inline

Autosaving every 30 seconds

In [2]:
file = 'orders-6-months-clean.csv'
df = pd.read_csv(file)
df.head()
df.tail()
print('(number of observations, number of features) =', df.shape)

,Origin,Sequence,Creation Date,Client Document,State,City,Neighborhood,Carrier,Delivery Deadline,Status,Utmi,Payment System Name,Installments,ID_SKU,Category Ids Sku,SKU Value,SKU Selling Price,SKU Total Price,Shipping List Price,Shipping Value,Total Value,Discounts Totals
0,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
1,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
2,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
3,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
4,B2C Channel,614749,2018-02-28 02:26:18Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0

,Origin,Sequence,Creation Date,Client Document,State,City,Neighborhood,Carrier,Delivery Deadline,Status,Utmi,Payment System Name,Installments,ID_SKU,Category Ids Sku,SKU Value,SKU Selling Price,SKU Total Price,Shipping List Price,Shipping Value,Total Value,Discounts Totals
18908,B2C Channel,658033,2018-08-30 19:05:09Z,10619214767,RJ,Duque de Caxias,Centro,Retirada em Loja (188537b),6bd,Ready for shipping,cpc - google - - brand136193,/1/11/,25,0,25,0,0,0,-50.00,NaN,NaN,NaN
18909,B2C Channel,658033,2018-08-30 19:05:09Z,10619214767,RJ,Duque de Caxias,Centro,Retirada em Loja (188537b),6bd,Ready for shipping,cpc - google - - brand120269,/1/11/,25,0,25,0,0,0,-50.00,NaN,NaN,NaN
18910,B2C Channel,658042,2018-08-30 19:50:37Z,8570203748,RJ,Teres�polis,V�rzea,Transportadora,8bd,Payment pending,cpc - google - - brand,Mastercard,4,131834,/3/35/,199,199,199,26.58,26.58,225.58,0.0
18911,B2C Channel,658045,2018-08-30 19:55:28Z,15506641745,RJ,Rio de Janeiro,Botafogo,Retirada em Loja (18fd71a),6bd,Payment pending,- - -,Mastercard,5,131837,/3/35/,199,199,199,0.00,0.00,358.00,0.0
18912,B2C Channel,658045,2018-08-30 19:55:28Z,15506641745,RJ,Rio de Janeiro,Botafogo,Retirada em Loja (18fd71a),6bd,Payment pending,- - -,Mastercard,5,131434,/3/,159,159,159,0.00,0.00,358.00,0.0

(number of observations, number of features) = (18913, 22)

### Keeping a copy of the original dataframe `df`

In [3]:
raw = df.copy()

Taking a look at the data:

In [4]:
print('(number of observations, number of features) =', df.shape)

(number of observations, number of features) = (18913, 22)

Tidying up the names of the columns:

In [5]:
print(list(df.columns))

['Origin', 'Sequence', 'Creation Date', 'Client Document', 'State', 'City', 'Neighborhood', 'Carrier', 'Delivery Deadline', 'Status', 'Utmi', 'Payment System Name', 'Installments', 'ID_SKU', 'Category Ids Sku', 'SKU Value', 'SKU Selling Price', 'SKU Total Price', 'Shipping List Price', 'Shipping Value', 'Total Value', 'Discounts Totals']

In [7]:
df.columns = [col.lower().replace('-','_').replace(' ','_') for col in df.columns]

In [8]:
df.head()

,origin,sequence,creation_date,client_document,state,city,neighborhood,carrier,delivery_deadline,status,utmi,payment_system_name,installments,id_sku,category_ids_sku,sku_value,sku_selling_price,sku_total_price,shipping_list_price,shipping_value,total_value,discounts_totals
0,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
1,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
2,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
3,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
4,B2C Channel,614749,2018-02-28 02:26:18Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0

## Checking memory usage
[[go back to the top]](#Table-of-contents)

Checking memory usage is useful when `pandas` is dealing with very large datasets. This dataset is not particularly large but I will optimize it anyway and use the same code in the second part of the challenge.

Below, choosing the parameter `deep` in the method `info()` provides more [accuracy](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html).

In [9]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18913 entries, 0 to 18912
Data columns (total 22 columns):
origin                 18913 non-null object
sequence               18911 non-null object
creation_date          18910 non-null object
client_document        18906 non-null object
state                  18907 non-null object
city                   18903 non-null object
neighborhood           18902 non-null object
carrier                18902 non-null object
delivery_deadline      18899 non-null object
status                 18899 non-null object
utmi                   18899 non-null object
payment_system_name    18899 non-null object
installments           18385 non-null object
id_sku                 18385 non-null object
category_ids_sku       18116 non-null object
sku_value              18116 non-null object
sku_selling_price      18116 non-null object
sku_total_price        18116 non-null object
shipping_list_price    18115 non-null float64
shipping_value         18113 non-null float64
total_value            18113 non-null float64
discounts_totals       18113 non-null float64
dtypes: float64(4), object(18)
memory usage: 22.3 MB

### Reducing memory usage

Though the dataframe's memory usage is relatively low, it can be reduced. We can use a [function](https://www.dataquest.io/blog/pandas-big-data/) to memory reducing.
Let us use a [function](https://www.dataquest.io/blog/pandas-big-data/) for that which assumes the input to be a `Dataframe`.

In [10]:
def compute_memory(x):
    # summing the memory usage of all columns (in mb)
    usage_mb = x.memory_usage(deep=True).sum()/(1024 ** 2 ) 
    return "Total usage is {} MB".format(usage_mb)

### Downcasting to float32

In [12]:
df_floats = df.select_dtypes(include=['float'])
converted_float = df_floats.apply(pd.to_numeric, downcast='float')
compare_floats = pd.concat([df_floats.dtypes, converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.head()

                      before    after
shipping_list_price  float64  float32
shipping_value       float64  float32
total_value          float64  float32
discounts_totals     float64  float32

### Checking the memory gain:

In [13]:
optimized_df = df.copy()
optimized_df[converted_float.columns] = converted_float
df = optimized_df.copy()
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18913 entries, 0 to 18912
Data columns (total 22 columns):
origin                 18913 non-null object
sequence               18911 non-null object
creation_date          18910 non-null object
client_document        18906 non-null object
state                  18907 non-null object
city                   18903 non-null object
neighborhood           18902 non-null object
carrier                18902 non-null object
delivery_deadline      18899 non-null object
status                 18899 non-null object
utmi                   18899 non-null object
payment_system_name    18899 non-null object
installments           18385 non-null object
id_sku                 18385 non-null object
category_ids_sku       18116 non-null object
sku_value              18116 non-null object
sku_selling_price      18116 non-null object
sku_total_price        18116 non-null object
shipping_list_price    18115 non-null float32
shipping_value         18113 non-null float32
total_value            18113 non-null float32
discounts_totals       18113 non-null float32
dtypes: float32(4), object(18)
memory usage: 22.0 MB

We see there two types of data: `float`,`object`

In [15]:
df_obj = df.select_dtypes(include=['object']).copy()
df_obj.dtypes

origin                 object
sequence               object
creation_date          object
client_document        object
state                  object
city                   object
neighborhood           object
carrier                object
delivery_deadline      object
status                 object
utmi                   object
payment_system_name    object
installments           object
id_sku                 object
category_ids_sku       object
sku_value              object
sku_selling_price      object
sku_total_price        object
dtype: object

In [16]:
converted_obj = pd.DataFrame()
converted_obj.head()

Empty DataFrame
Columns: []
Index: []

In [17]:
compare_obj = pd.concat([df_obj.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

        before  after
object      18    NaN

In [18]:
optimized_df[converted_obj.columns] = converted_obj
compute_memory(optimized_df)

'Total usage is 22.045705795288086 MB'

In [19]:
df = optimized_df.copy()
df.to_csv('optimized_df.csv')

## Data Cleaning
[[go back to the top]](#Table-of-contents)

### Some of the columns will are not relevant so I will drop them.

In [23]:
df.head(2)

,origin,sequence,creation_date,client_document,state,city,neighborhood,carrier,delivery_deadline,status,utmi,payment_system_name,installments,id_sku,category_ids_sku,sku_value,sku_selling_price,sku_total_price,shipping_list_price,shipping_value,total_value,discounts_totals
0,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
1,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0

In [33]:
for col in df.columns:
    print(df[col].value_counts().head(3),'\n')

B2C Channel                                                18739
Marketplace                                                  159
Vtex.Commerce.Oms.Helper.ReadWriteCsv+CsvRowB2C Channel        4
Name: origin, dtype: int64

624290    24
653493    23
645136    21
Name: sequence, dtype: int64

2018-04-17 05:46:22Z    24
2018-08-07 23:02:38Z    23
2018-07-12 22:19:55Z    21
Name: creation_date, dtype: int64

11153171724    76
9057971674     57
4333596173     54
Name: client_document, dtype: int64

RJ    11521
SP     1710
MG     1239
Name: state, dtype: int64

Rio de Janeiro    7435
S�o Paulo          812
Nova Igua�u        683
Name: city, dtype: int64

Centro             2213
Tijuca              730
Barra da Tijuca     467
Name: neighborhood, dtype: int64

Transportadora    5620
Sedex             4715
Ciclo Verde       2974
Name: carrier, dtype: int64

4bd    4072
2bd    3251
6bd    2135
Name: delivery_deadline, dtype: int64

Invoiced              12449
Canceled               5937
Ready for shipping      400
Name: status, dtype: int64

 -  -  -                   9096
cpc - google -  - brand    3130
 - Google -  -             1211
Name: utmi, dtype: int64

Cash on delivery    7741
Mastercard          5734
Visa                4121
Name: payment_system_name, dtype: int64

1    9303
5    3020
3    2275
Name: installments, dtype: int64

127344    86
127363    65
127714    61
Name: id_sku, dtype: int64

/1/6/28/    4029
/1/7/       1797
/3/39/      1472
Name: category_ids_sku, dtype: int64

199    2518
79     2326
99     2212
Name: sku_value, dtype: int64

199    1020
99      814
79      801
Name: sku_selling_price, dtype: int64

199    2514
79     2320
99     2201
Name: sku_total_price, dtype: int64

0.00     3254
9.98     1160
11.58     366
Name: shipping_list_price, dtype: int64

0.00     12958
9.98       655
11.58      229
Name: shipping_value, dtype: int64

239.000000    377
227.050003    223
299.000000    202
Name: total_value, dtype: int64

 0.00    6744
-9.95     420
-4.95     256
Name: discounts_totals, dtype: int64

In [38]:
df.city.value_counts()

Rio de Janeiro                 7435
S�o Paulo                       812
Nova Igua�u                     683
Niter�i                         609
Duque de Caxias                 525
Bel�m                           490
Aracaju                         484
Bras�lia                        351
Belo Horizonte                  295
Fortaleza                       260
S�o Gon�alo                     258
Juiz de Fora                    254
Salvador                        224
S�o Jo�o de Meriti              221
Recife                          190
Vit�ria                         173
Campos dos Goytacazes           150
Vila Velha                      131
Maca�                           119
RIO DE JANEIRO                  104
Teresina                         97
Goi�nia                          95
Arma��o dos B�zios               88
Curitiba                         86
Mesquita                         85
Santos                           81
Porto Alegre                     81
Maric�                           74
Petr�polis                       73
Nil�polis                        72
Nova Friburgo                    64
Barra Mansa                      62
Pirapora                         60
Vit�ria da Conquista             59
Corumb�                          57
Campinas                         57
Florian�polis                    56
Campo Grande                     55
Volta Redonda                    51
Manaus                           50
Borac�ia                         48
Jaboat�o dos Guararapes          47
Serra                            46
Cabo Frio                        45
Teres�polis                      44
Santo Andr�                      43
Ananindeua                       41
S�o Bernardo do Campo            40
Formosa                          40
Belford Roxo                     40
Ipatinga                         38
Angra dos Reis                   37
Muria�                           36
S�o Lu�s                         34
S�O PAULO                        34
Guarulhos                        33
Jo�o Pessoa                      32
Picos                            31
Valen�a                          31
Natal                            30
Itagua�                          30
Barueri                          30
Resende                          29
Blumenau                         28
Cachoeiro de Itapemirim          27
Caxias do Sul                    26
Divin�polis                      24
Taubat�                          24
Itaperuna                        23
Cuiab�                           22
Ja�                              22
Araruama                         21
Rio das Ostras                   21
Serra Dourada                    21
Olinda                           21
Santa Luzia                      20
Cubat�o                          20
Uberl�ndia                       20
BEL�M                            19
Rio Bonito                       19
Itabora�                         19
Queimados                        19
Porci�ncula                      19
Feira de Santana                 19
Suzano                           18
Ipojuca                          18
Rio Novo do Sul                  18
Monte Carmelo                    18
Mag�                             18
Guarapari                        17
Contagem                         17
Diadema                          17
Carmo                            17
Maring�                          17
Serop�dica                       17
Guapimirim                       17
Ituiutaba                        16
Lauro de Freitas                 16
Marechal Floriano                16
Macap�                           15
Macei�                           15
Cariacica                        15
Lagoinha                         15
Cantagalo                        14
S�o Pedro da Aldeia              14
S�o Jos� dos Campos              14
Ecoporanga                       14
Linhares                         14
Bauru                            13
Bicas                            13
S�o Fid�lis                      13
Sorocaba                         13
A�ail�ndia                       13
Piracicaba                       13
Miguel Pereira                   13
Nova Lima                        13
Americana                        13
Osasco                           12
Japeri                           12
Guaratinguet�                    12
Capara�                          12
BLUMENAU                         12
Joinville                        12
Casimiro de Abreu                12
muriae                           12
Colatina                         11
Po�os de Caldas                  11
Vila dos Cabanos                 11
Cordeiro                         11
NITER�I                          11
Passos                           11
Mogi das Cruzes                  11
Tr�s Rios                        11
Itaquaquecetuba                  11
Benevides                        11
Aparecida de Goi�nia             10
Praia Grande                     10
Ribeir�o das Neves               10
Porto Velho                      10
Barra do Pira�                   10
Palho�a                          10
Pira�                            10
Saquarema                        10
Tim�teo                          10
Caratinga                         9
Vi�osa                            9
Nova Esperan�a do Piri�           9
Cruzeiro                          9
S�o Sebasti�o do Alto             9
Itapevi                           9
Tabo�o da Serra                   9
Iguaba Grande                     9
Pinheiral                         9
Mangaratiba                       9
Sarandi                           9
Lajinha                           9
Atibaia                           9
Itamb�                            9
Londrina                          9
Ara�ua�                           9
Montes Claros                     9
Campo Bom                         9
Cataguases                        9
Anchieta                          9
S�o Mateus                        9
Rio de janeiro                    8
Itatiaia                          8
Para�ba do Sul                    8
Brusque                           8
Santo Ant�nio de P�dua            8
Itabuna                           8
Jaragu� do Sul                    8
Novo Hamburgo                     8
Carapebus                         8
Sapea�u                           8
Presidente Prudente               8
Cachoeirinha                      8
Taiobeiras                        8
Primavera do Leste                8
Canoas                            8
Caruaru                           8
Cordeir�polis                     8
Catal�o                           8
Mar�lia                           8
Paracambi                         8
Manhua�u                          8
Castelo                           8
Santa Rita do Sapuca�             8
BRAS�LIA                          8
Rio Branco                        8
Jandira                           8
Areia Branca                      8
Una�                              7
Concei��o da Barra                7
Camet�                            7
SALVADOR                          7
Vassouras                         7
Santa Maria Madalena              7
Tubar�o                           7
Parati                            7
S�o Vicente                       7
Barbacena                         7
Est�ncia                          7
Itapemirim                        7
Santana de Parna�ba               7
Lavras                            7
Marata�zes                        7
S�o Sebasti�o do Oeste            7
Cavalcante                        6
Sobradinho                        6
ENGENHEIRO PAULO DE FRONTIN       6
Barreiras                         6
Ub�                               6
Cedral                            6
An�polis                          6
Santa Rosa de Viterbo             6
Arraial do Cabo                   6
Te�filo Otoni                     6
Franca                            6
Ribeir�o Preto                    6
Pinhais                           6
Aruj�                             6
Dois C�rregos                     6
BELFORD ROXO                      6
Barra do Corda                    6
Indaiatuba                        6
V�rzea Grande                     6
Itaituba                          6
Iguape                            6
Barra de S�o Jo�o                 6
Santana                           6
S�o Gabriel da Palha              6
Marac�s                           6
Itacar�                           6
Ilh�us                            6
Sinop                             5
Araripina                         5
Capela do Alto Alegre             5
Patos                             5
LAURO DE FREITAS                  5
Goianinha                         5
Santos Dumont                     5
S�o Jo�o Nepomuceno               5
Engenheiro Paulo de Frontin       5
Mossor�                           5
SOROCABA                          5
Rio de Janeiro                    5
Machadinho D'Oeste                5
Itaja�                            5
Jijoca de Jericoacoara            5
Patos de Minas                    5
Rio Claro                         5
Ara�atuba                         5
S�o Jo�o Del Rei                  5
Jacare�                           5
Cristalina                        5
Papucaia                          5
Carangola                         5
Cotia                             5
Al�m Para�ba                      5
Muria�                            5
Bragan�a Paulista                 5
Cachoeiras de Macacu              5
Curvelo                           5
Congonhas                         5
S�o Carlos                        5
Machado                           5
Jundia�                           5
Brejetuba                         4
Santa Teresa                      4
Cairu                             4
Mendes                            4
BELO HORIZONTE                    4
Luzi�nia                          4
Aperib�                           4
Mimoso do Sul                     4
Boa Vista                         4
Guidoval                          4
Sapezal                           4
Sao joao de meriti                4
Italva                            4
Alfenas                           4
Balne�rio Cambori�                4
Coruripe                          4
Lages                             4
Ilhabela                          4
Francisco Morato                  4
Bom Jardim                        4
Leopoldina                        4
Cascavel                          4
Po�                               4
S�o Vicente de Minas              4
SEROP�DICA                        4
Parnamirim                        4
Travess�o                         4
Itapema                           4
S�tio do Quinto                   4
Carapicu�ba                       4
Salete                            4
Pederneiras                       4
Hidrol�ndia                       4
Concei��o do Coit�                4
Teixeira de Freitas               4
Paranagu�                         4
Porto Franco                      4
S�o �ulo                          4
Alegre                            4
Cosm�polis                        4
Galil�ia                          4
Mau�                              4
Betim                             4
Bananal                           4
Sousa                             4
Imperatriz                        4
Esmeraldas                        4
Palmares                          4
Barra do Gar�as                   4
GOI�NIA                           4
LAGES                             4
Sabar�                            4
Caldas Novas                      4
I�na                              4
S�o Jo�o da Boa Vista             3
serra                             3
Ita�na                            3
Lagoa Santa                       3
Paulista                          3
Anag�                             3
Palmas                            3
Bariri                            3
Buenos Aires                      3
S�o Jo�o da Barra                 3
Ipueiras                          3
Rj                                3
Santar�m                          3
Nova Cruz                         3
Belo Oriente                      3
Bag�                              3
Ic�                               3
S�o Jos� do Rio Preto             3
Salvaterra                        3
Mandagua�u                        3
Mariana                           3
Ouro Preto                        3
Pitangui                          3
ITAPERUNA                         3
Miracatu                          3
Rio Grande                        3
Itinga                            3
Jer�nimo Monteiro                 3
Hortol�ndia                       3
Ibi�                              3
Alagoinhas                        3
Passagem de Mariana               3
Ponte Nova                        3
MURIAE                            3
VIT�RIA DA CONQUISTA              3
Mat�o                             3
S�o Jos� do Cal�ado               3
Coronel Fabriciano                3
Senador Firmino                   3
MACA�                             3
Sobral                            3
Miracema                          3
Carlos Chagas                     3
Irati                             3
Mairipor�                         3
Trajano de Moraes                 3
Balsas                            3
Gar�a                             3
Tatu�                             3
Iconha                            3
Itu                               3
Cambuci                           3
Guarabira                         3
Vila Muriqui                      3
Itajub�                           3
Candeias                          3
N�sia Floresta                    2
Ouril�ndia do Norte               2
Jo�o Neiva                        2
Uberaba                           2
Macuco                            2
Itapeva                           2
Senhor do Bonfim                  2
Araguari                          2
Ilha Solteira                     2
Gua�u�                            2
Maranguape                        2
Arame                             2
Trancoso                          2
Tarumirim                         2
Paul�nia                          2
Vargem Alta                       2
Embu das Artes                    2
Itaocara                          2
Bragan�a                          2
Alfredo Chaves                    2
Pesqueira                         2
Barra Bonita                      2
Perd�es                           2
Conc�rdia                         2
Tr�s Cora��es                     2
S�o Jos� de Ribamar               2
Ibiraci                           2
Novo Horizonte                    2
Novo Cruzeiro                     2
Venda Nova do Imigrante           2
Colinas do Tocantins              2
Areal                             2
Guarani                           2
Muriae                            2
Junqueiro                         2
Mogi Mirim                        2
Franco da Rocha                   2
Itabirito                         2
Mansid�o                          2
MAG�                              2
Duas Barras                       2
Andradas                          2
Pi�ma                             2
Cardoso Moreira                   2
Acara�                            2
S�o Louren�o                      2
Mandaguari                        2
S�O JO�O DE MERITI                2
Esteio                            2
Sete Lagoas                       2
S�o Jos� dos Pinhais              2
petr�polis                        2
Santan�sia                        2
Aracruz                           2
Gaspar                            2
S�o Caetano do Sul                2
Jacobina                          2
Barbalha                          2
Campo Florido                     2
Pedra Azul                        2
Tacima                            2
Quatro Pontes                     2
Barra do Mendes                   2
Ab�lio Martins                    2
Rio Verde de Mato Grosso          2
Presidente Oleg�rio               2
Colombo                           2
Diamantina                        2
LAGOA SANTA                       2
Pira�ba                           2
Caxambu                           2
�guas Lindas de Goi�s             2
Matutina                          2
Ji-Paran�                         2
Itaparica                         2
Manhumirim                        2
S�o Roque                         2
Canarana                          2
SANTA RITA DO SAPUCAI             2
Catanduva                         2
Limeira                           2
Acopiara                          2
ICONHA                            2
Amparo de S�o Francisco           2
Santo Ant�nio do Pinhal           2
Ourinhos                          2
Campo Limpo Paulista              2
s�o bernardo do campo             2
Arraias                           2
Soledade                          2
Feliz Deserto                     2
Seabra                            2
S�o paulo                         2
Cama�ari                          2
Visconde do Rio Branco            2
Lagoa Real                        2
Lad�rio                           2
Bela Vista                        2
Ruy Barbosa                       2
Grossos                           2
Descoberto                        2
Serrinha                          2
Santa Rita de C�ssia              2
Apuarema                          2
Piraju                            2
PATROC�NIO MG                     2
Pen�polis                         2
Laranjal                          2
Itumbiara                         2
Guanambi                          2
Governador Valadares              2
Cambira                           1
Brumadinho                        1
Varginha                          1
Machacalis                        1
Arcos                             1
Sao Paulo                         1
Barra do Turvo                    1
Espera Feliz                      1
Vit�ria de Santo Ant�o            1
Ipia�                             1
Euclides da Cunha                 1
Petrolina                         1
VIT�RIA                           1
Tiradentes                        1
Raposos                           1
Manaus                            1
Teodoro Sampaio                   1
Crato                             1
Itapetinga                        1
Porto Real                        1
Umuarama                          1
Aba�ba                            1
Wanderley                         1
Presidente Venceslau              1
Serro                             1
Ros�rio do Iva�                   1
Trindade                          1
Urussanga                         1
Governador Portela                1
Jussara                           1
S�o Jos� da Lapa                  1
Santa Cruz do Sul                 1
Confins                           1
S�o Francisco do Sul              1
Mogi Gua�u                        1
Ilhota                            1
Fazenda Rio Grande                1
In�bia                            1
Itabira                           1
Itapu�                            1
Pot�                              1
Nova Serrana                      1
Concei��o de Macabu               1
CORUMB�                           1
Lagoa Grande                      1
Capela                            1
Riach�o                           1
Paracatu                          1
Navegantes                        1
Araras                            1
TERESOPOLIS                       1
S�o Francisco de Itabapoana       1
Rebou�as                          1
Caranda�                          1
Santa maria                       1
Cambuquira                        1
Am�rico Brasiliense               1
MURIA�                            1
Porto Seguro                      1
Leme                              1
Santa B�rbara D'Oeste             1
Sooretama                         1
S�o Sebasti�o do Ca�              1
rio de janeiro                    1
Dourados                          1
Passo Fundo                       1

In [40]:
import unidecode


lst = []

for row in df['city']:
    row = str(row)
    lst.append(unidecode.unidecode(row))
    
df['city'] = lst

In [25]:
print(df.columns.tolist())

['origin', 'sequence', 'creation_date', 'client_document', 'state', 'city', 'neighborhood', 'carrier', 'delivery_deadline', 'status', 'utmi', 'payment_system_name', 'installments', 'id_sku', 'category_ids_sku', 'sku_value', 'sku_selling_price', 'sku_total_price', 'shipping_list_price', 'shipping_value', 'total_value', 'discounts_totals']

In [41]:
df.head()

,origin,sequence,creation_date,client_document,state,city,neighborhood,carrier,delivery_deadline,status,utmi,payment_system_name,installments,id_sku,category_ids_sku,sku_value,sku_selling_price,sku_total_price,shipping_list_price,shipping_value,total_value,discounts_totals
0,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
1,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
2,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
3,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
4,B2C Channel,614749,2018-02-28 02:26:18Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0

In [42]:
df.dtypes

origin                  object
sequence                object
creation_date           object
client_document         object
state                   object
city                    object
neighborhood            object
carrier                 object
delivery_deadline       object
status                  object
utmi                    object
payment_system_name     object
installments            object
id_sku                  object
category_ids_sku        object
sku_value               object
sku_selling_price       object
sku_total_price         object
shipping_list_price    float32
shipping_value         float32
total_value            float32
discounts_totals       float32
dtype: object

In [47]:
df.isnull().any()
df.shape
df.dropna(inplace=True)
df.shape

origin                 False
sequence                True
creation_date           True
client_document         True
state                   True
city                   False
neighborhood            True
carrier                 True
delivery_deadline       True
status                  True
utmi                    True
payment_system_name     True
installments            True
id_sku                  True
category_ids_sku        True
sku_value               True
sku_selling_price       True
sku_total_price         True
shipping_list_price     True
shipping_value          True
total_value             True
discounts_totals        True
dtype: bool

(18913, 22)

(18113, 22)

In [48]:
df.isnull().any()

origin                 False
sequence               False
creation_date          False
client_document        False
state                  False
city                   False
neighborhood           False
carrier                False
delivery_deadline      False
status                 False
utmi                   False
payment_system_name    False
installments           False
id_sku                 False
category_ids_sku       False
sku_value              False
sku_selling_price      False
sku_total_price        False
shipping_list_price    False
shipping_value         False
total_value            False
discounts_totals       False
dtype: bool

In [49]:
df.head()

,origin,sequence,creation_date,client_document,state,city,neighborhood,carrier,delivery_deadline,status,utmi,payment_system_name,installments,id_sku,category_ids_sku,sku_value,sku_selling_price,sku_total_price,shipping_list_price,shipping_value,total_value,discounts_totals
0,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
1,B2C Channel,614743,2018-02-28 02:01:51Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
2,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0
3,B2C Channel,614746,2018-02-28 02:09:26Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,116363,/3/36/,239,239,239,9.3,0.0,438.0,0.0
4,B2C Channel,614749,2018-02-28 02:26:18Z,XYA87A9X7YX,RJ,Duque de Caxias,Parque Duque,Pac,12bd,Canceled,- - -,Visa,5,126755,/3/42/,199,199,199,9.3,0.0,438.0,0.0